[defaults]
inventory = ./hosts.yml
#vault_password_file = .vault_pass
host_key_checking = False
timeout = 15
forks = 5
remote_user = ahmad
private_key_file = /home/ahmad/.ssh/id_rsa
log_path = log/ansible.log
roles_path = ./roles
verbosity = 0
interpreter_python = /usr/bin/python3
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 86400
gather_subset = all
strategy = linear
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
