server {
  listen {{ item.listen_port }} {{ 'ssl' if item.listen_ssl else '' }};
  server_name {{ item.server_name }};
  root {{ item.root }};
  index {{ item.index }};

  access_log {{ item.access_log }} {{ item.log_format }};
  error_log {{ item.error_log }};

{% if item.listen_ssl %}
  ssl_certificate {{ item.ssl_certificate }};
  ssl_certificate_key {{ item.ssl_certificate_key }};
  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_ciphers HIGH:!aNULL:!MD5;
  ssl_prefer_server_ciphers on;
{% endif %}

{% if item.use_allowlist %}
  include {{ nginx_allowlist_dir }}/defaults.conf;
{% endif %}

{% for location in item.locations %}
  location {{ location.path }} {
{% if location.proxy_pass %}
    proxy_pass {{ location.proxy_pass }};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
{% endif %}
{{ location.extra | default('') }}
  }
{% endfor %}

{{ item.extra_config | default('') }}
}
